body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.card{
    -webkit-box-shadow: 0px 0px 24px 5px rgba(5,5,5,0.91); 
    box-shadow: 0px 0px 24px 5px rgba(5,5,5,0.91);
    width: fit-content;
    border-radius: 10px;
}

.card-carrito{
    -webkit-box-shadow: 0px 0px 24px 5px rgba(5,5,5,0.91); 
    box-shadow: 0px 0px 24px 5px rgba(5,5,5,0.91);
    width: fit-content;
    border-radius: 10px;
}
.card-carrito img{
    width: 10rem;
   
}

ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
}

.card h3{
    text-align: center;
}

.card img{
    width: 40rem;
    margin-left: 5px;
    margin-right: 5px;
}

.registro{
    border: solid black;
    border-radius: 10px;
    width: fit-content;
    padding: 50px;
    margin: 30px;
}

.conteiner-busc{
    display: flex;
    justify-content: center;
}

.buscador{
     padding: 5px 5px;
     margin: 20px 10px;
     border: solid grey 2px;
     border-radius:  15px;
     width: fit-content;
} 


.regish2{
    text-align: center;
}

.registinput{
    outline: none;
}

#ingreso {
    border-radius:  10px;
}

#btn-buscar{
    border:  none;
}

.msjError{
    color: red;
    margin-top: 0px ;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
}

#btnIngresar{
    position: relative;
    display: inline-block;
    margin: 15px;
    padding: 15px 30px;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #000000;
    background: transparent;
    cursor: pointer;
    transition: ease-out 0.5s;
    border: 2px solid #000000;
    border-radius: 10px;
    box-shadow: inset 0 0 0 0 #000000;
}

#btnIngresar:hover {
    color: white;
    box-shadow: inset 0 -100px 0 0 #000000;
}

#btnIngresar:active {
    transform: scale(0.9);
}
   
   
   



#email {
    line-height: 28px;
    border: 2px solid transparent;
    border-bottom-color: #777;
    padding: .2rem 0;
    outline: none;
    background-color: transparent;
    color: #0d0c22;
    transition: .3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

#email:focus, #email:hover {
    outline: none;
    padding: .2rem 1rem;
    border-radius: 1rem;
    border-color: #7a9cc6;
}

#email::placeholder {
    color: #777;
}

#email:focus::placeholder {
    opacity: 0;
    transition: opacity .3s;
}



#password {
    line-height: 28px;
    border: 2px solid transparent;
    border-bottom-color: #777;
    padding: .2rem 0;
    outline: none;
    background-color: transparent;
    color: #0d0c22;
    transition: .3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

#password:focus, #password:hover {
    outline: none;
    padding: .2rem 1rem;
    border-radius: 1rem;
    border-color: #7a9cc6;
}

#password::placeholder {
    color: #777;
}

#password:focus::placeholder {
    opacity: 0;
    transition: opacity .3s;
}



       
#userRegis {
    line-height: 28px;
    border: 2px solid transparent;
    border-bottom-color: #777;
    padding: .2rem 0;
    outline: none;
    background-color: transparent;
    color: #0d0c22;
    transition: .3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

#userRegis:focus, #userRegis:hover {
    outline: none;
    padding: .2rem 1rem;
    border-radius: 1rem;
    border-color: #7a9cc6;
}

#userRegis::placeholder {
    color: #777;
}

#userRegis:focus::placeholder {
    opacity: 0;
    transition: opacity .3s;
}





    #repeatpassword {
        line-height: 28px;
        border: 2px solid transparent;
        border-bottom-color: #777;
        padding: .2rem 0;
        outline: none;
        background-color: transparent;
        color: #0d0c22;
        transition: .3s cubic-bezier(0.645, 0.045, 0.355, 1);
    }
    
    #repeatpassword:focus, #userRegis:hover {
        outline: none;
        padding: .2rem 1rem;
        border-radius: 1rem;
        border-color: #7a9cc6;
    }
    
    #repeatpassword::placeholder {
        color: #777;
    }
    
    #repeatpassword:focus::placeholder {
        opacity: 0;
        transition: opacity .3s;
    }

    

/* asincronia */

.hide{
    display: none;
}

.active{
    display: block;
}

.loader{
    width: fit-content;
}
.scanner h1 {
    color: transparent;
    font-size: 1.4rem;
    position: relative;
    overflow: hidden;
   }
   
   .scanner h1::before {
    content: "Loading...";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-right: 4px solid grey;
    overflow: hidden;
    color: grey;
    animation: load91371 2s linear infinite;
   }
   
   @keyframes load91371 {
    0%, 10%, 100% {
     width: 0;
    }
   
    10%,20%,30%,40%,50%,60%,70%,80%,90%,100% {
     border-right-color: transparent;
    }
   
    11%,21%,31%,41%,51%,61%,71%,81%,91% {
     border-right-color: grey;
    }
   
    60%, 80% {
     width: 100%;
    }
   }